@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark, cupcake;
}

@font-face {
	font-family: Roboto;
	src: url("../public/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: RobotoCondensed;
	src: url("../public/fonts/RobotoCondensed-VariableFont_wght.ttf");
}

.primaryFont {
	font-family: Roboto;
}
.secondaryFont {
	font-family: RobotoCondensed;
}

.colorPrimary {
	color: #ff0a54;
}

.borderPrimary {
	border: solid #ff0a54;
}

.content {
	margin: 0 120px;
}

a:hover {
	color: #ff0a54;
}
